In [3]:
import pandas as pd
# import googlemaps
# from apiclient.discovery import build

### Income dataset

https://factfinder.census.gov/faces/nav/jsf/pages/searchresults.xhtml?refresh=t

The US Census generates a 'Median Household Income in the Past 12 Months (In 2014 Inflation-Adjusted Dollars)' from data collected by the American Community Survey. This report is based on 5-year estimates, from 2010-2014. The report I pulled is the most recent income-related information available by the US Census. 
* I'm currently reading the data collection methodology for this project, so will update the group about how the data was collected when done.

In [4]:
income = pd.read_excel("../data/external/ACS_14_5YR_B19013.xls")

IOError: [Errno 2] No such file or directory: '../data/external/ACS_14_5YR_B19013.xls'

In [215]:
income = income.loc[8:]
income.head()

,B19013: MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) - Universe: Households,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
8,ZCTA5 06390,NaN,Estimate,NaN,"151,333"
9,ZCTA5 10001,NaN,Estimate,NaN,"81,445"
10,ZCTA5 10002,NaN,Estimate,NaN,"32,966"
11,ZCTA5 10003,NaN,Estimate,NaN,"97,524"
12,ZCTA5 10004,NaN,Estimate,NaN,"123,409"

In [216]:
income = income.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'], axis=1)

In [217]:
income = income.rename(columns={'B19013: MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) - Universe: Households': 'Zip_Code', 'Unnamed: 4': 'Median_Househould_Income', '$b': 'b'})

In [218]:
zips = []
for elem in income['Zip_Code']:
    zips.append(str(elem))

In [219]:
zips2 = []
for elem in zips:
    zips2.append(elem[6:])

In [220]:
income['Zip_Code'] = zips2
income['Zip_Code'] = pd.to_numeric(income['Zip_Code'])

In [221]:
income.head()

    Zip_Code Median_Househould_Income
8     6390.0                  151,333
9    10001.0                   81,445
10   10002.0                   32,966
11   10003.0                   97,524
12   10004.0                  123,409

### Zipcode and Citi Bike Station ID dataframe

Please see 'Google_API_Reader' for creation of the 'zips_stations.csv' file

In [222]:
zips_stations = pd.read_csv('../data/processed/zips_stations.csv')

In [223]:
zips_stations['Zip_Code'] = zips_stations['Zip_Code'].astype(float)

In [224]:
zips_stations.head()

   Station_id  Zip_Code
0          72   10019.0
1          79    2984.0
2          82   10038.0
3          83   11217.0
4         116   10011.0

### Merged income, zipcode, and station id for final dataframe

In [225]:
# outer join of income and zip_codes
income_zips_stations = pd.merge(income, zips_stations, how='outer', on='Zip_Code')

In [226]:
# left join of stations and income_zips
stations_income = pd.merge(stations, income_zips_stations, how='left', on='Station_id')

In [227]:
stations_income.head()

   Station_id   Latitude  Longitude  Zip_Code Median_Househould_Income
0          72  40.767272 -73.993929   10019.0                   90,174
1          79  40.719116 -74.006667    2984.0                      NaN
2          82  40.711174 -74.000165   10038.0                   73,988
3          83  40.683826 -73.976323   11217.0                   85,199
4         116  40.741776 -74.001497   10011.0                  104,974

In [228]:
print(len(stations_income))

664