In [1]:
import pandas as pd

### Income dataset

https://factfinder.census.gov/faces/nav/jsf/pages/searchresults.xhtml?refresh=t

The US Census generates a 'Median Household Income in the Past 12 Months (In 2014 Inflation-Adjusted Dollars)' from data collected by the American Community Survey. This report is based on 5-year estimates, from 2010-2014. The report I pulled is the most recent income-related information available by the US Census. 
* I'm currently reading the data collection methodology for this project, so will update the group about how the data was collected when done.

In [2]:
income = pd.read_excel("../data/external/ACS_14_5YR_B19013.xls")

In [3]:
income = income.loc[8:]
income.head()

,B19013: MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) - Universe: Households,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
8,ZCTA5 06390,NaN,Estimate,NaN,"151,333"
9,ZCTA5 10001,NaN,Estimate,NaN,"81,445"
10,ZCTA5 10002,NaN,Estimate,NaN,"32,966"
11,ZCTA5 10003,NaN,Estimate,NaN,"97,524"
12,ZCTA5 10004,NaN,Estimate,NaN,"123,409"

In [4]:
income = income.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'], axis=1)

In [5]:
income = income.rename(columns={'B19013: MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) - Universe: Households': 'Zip_Code', 'Unnamed: 4': 'Median_Househould_Income', '$b': 'b'})

In [6]:
zips = []
for elem in income['Zip_Code']:
    zips.append(str(elem))

In [7]:
zips2 = []
for elem in zips:
    zips2.append(elem[6:])

In [8]:
income['Zip_Code'] = zips2
income['Zip_Code'] = pd.to_numeric(income['Zip_Code'])

In [9]:
income.head()

    Zip_Code Median_Househould_Income
8     6390.0                  151,333
9    10001.0                   81,445
10   10002.0                   32,966
11   10003.0                   97,524
12   10004.0                  123,409

### Zipcode and Citi Bike Station ID dataframe

Please see 'Google_API_Reader' for creation of the 'zips_stations.csv' file

In [10]:
zips_stations = pd.read_csv('../data/processed/zips_stations.csv')

In [11]:
zips_stations['Zip_Code'] = zips_stations['Zip_Code'].astype(float)

In [12]:
zips_stations.head()

   Station_id  Zip_Code
0          72   10019.0
1          79    2984.0
2          82   10038.0
3          83   11217.0
4         116   10011.0

### Merged income, zipcode, and station id for final dataframe

In [13]:
stations = pd.read_csv('../data/processed/stations.csv')

In [14]:
# outer join of income and zip_codes
income_zips_stations = pd.merge(income, zips_stations, how='outer', on='Zip_Code')

In [15]:
# left join of stations and income_zips
stations_income = pd.merge(stations, income_zips_stations, how='left', on='Station_id')

In [16]:
stations_income.head()

,Station_id,Station_Name,Location,Latitude,Longitude,Zip_Code,Median_Househould_Income
0,72,W 52 St & 11 Ave,W 52 St & 11 Ave,40.767272,-73.993929,10019.0,"90,174"
1,79,Franklin St & W Broadway,Franklin St & W Broadway,40.719116,-74.006667,2984.0,NaN
2,82,St James Pl & Pearl St,St James Pl & Pearl St,40.711174,-74.000165,10038.0,"73,988"
3,83,Atlantic Ave & Fort Greene Pl,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,11217.0,"85,199"
4,116,W 17 St & 8 Ave,W 17 St & 8 Ave,40.741776,-74.001497,10011.0,"104,974"

In [17]:
print(type(stations_income))

<class 'pandas.core.frame.DataFrame'>

In [18]:
print(len(stations_income))

664

In [19]:
stations_income.to_csv("../data/processed/stations_income.csv")