In [1]:
import pandas as pd
import numpy as np

In [7]:
bike_lanes = pd.read_csv("../data/processed/bike-lane-quality.csv", index_col=0)

In [8]:
bike_lanes.head()

   Station_id  metric
0          79     3.0
1         116     4.0
2         119     4.0
3         120     4.0
4         127     4.0

In [9]:
parks = pd.read_csv("../data/processed/parks.csv", index_col=0)

In [10]:
parks.head()

,Station_id,citibike_location,park_location,signname,park
0,72,W 52 St & 11 Ave,"W. 52 St. To W. 54 St., 11 Ave. To 12 Ave.",De Witt Clinton Park,1
1,82,St James Pl & Pearl St,"Pearl St., Madison St. and St James Pl.",James Madison Plaza,1
2,116,W 17 St & 8 Ave,"W. 17 St., 8 Ave. To 9 Ave.",Dr. Gertrude B. Kelly Playground,1
3,119,Park Ave & St Edwards St,"Nassau St., Park Ave., bet. Navy St. and N. El...",Commodore Barry Park,1
4,128,MacDougal St & Prince St,Ave. Of Americas bet. Prince St. and Spring St.,Father Fagan Park,1

In [11]:
ridership = pd.read_csv("../data/processed/ridership.csv", index_col=0)

In [12]:
ridership.head()

,Station_id,count of rides 201501,count of rides 201502,count of rides 201503,count of rides 201504,count of rides 201505,count of rides 201506,count of rides 201507,count of rides 201508,count of rides 201509,count of rides 201510,count of rides 201511,count of rides 201512,average station ridership 2015
0,72,638.0,480.0,1026.0,1948.0,2943.0,2767.0,3149.0,3504.0,3667.0,3546.0,2323.0,1648.0,2131.615385
1,79,566.0,335.0,725.0,1728.0,2368.0,2424.0,2626.0,2726.0,3011.0,2646.0,2074.0,1579.0,1760.538462
2,82,310.0,276.0,406.0,788.0,1068.0,946.0,1193.0,1145.0,1166.0,1053.0,819.0,713.0,766.538462
3,83,258.0,162.0,281.0,749.0,1101.0,994.0,1659.0,1724.0,1505.0,1104.0,886.0,717.0,863.307692
4,116,1696.0,1193.0,2105.0,1933.0,2281.0,4800.0,5674.0,6175.0,6558.0,5825.0,4455.0,3686.0,3576.692308

In [17]:
streets = pd.read_csv("../data/processed/street-assessment.csv", index_col=0)

In [18]:
streets.head()

,Station_id,Station_Name,Location,Latitude,Longitude,Rating_B
0,72,W 52 St & 11 Ave,W 52 St & 11 Ave,40.767272,-73.993929,8.000000
1,79,Franklin St & W Broadway,Franklin St & W Broadway,40.719116,-74.006667,8.571429
2,82,St James Pl & Pearl St,St James Pl & Pearl St,40.711174,-74.000165,7.333333
3,83,Atlantic Ave & Fort Greene Pl,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,7.500000
4,116,W 17 St & 8 Ave,W 17 St & 8 Ave,40.741776,-74.001497,8.500000

In [19]:
entrances = pd.read_csv("../data/processed/subway-entrances.csv", index_col=0)

In [20]:
entrances.head()

,Station_id,Location,line,subway_entrance
0,79,Franklin St & W Broadway,1,1
1,151,Cleveland Pl & Spring St,4-6-6 Express,1
2,223,W 13 St & 7 Ave,1-2-3-L-F-M,1
3,257,Lispenard St & Broadway,4-6-6 Express-J-Z-N-Q-R,1
4,267,Broadway & W 36 St,B-D-F-M-N-Q-R,1

In [21]:
trees = pd.read_csv("../data/processed/tree-canopy.csv", index_col=0)

In [22]:
trees.head()

                score  score_mean  tree_count  station_id
Station_id
72          17.364799    2.480686           7          72
79           9.573955    3.191318           3          79
82          35.070325    3.188211          11          82
83           0.000000    0.000000           0          83
116         47.824344    3.188290          15         116