In [59]:
import pandas as pd
import geopandas as gp
import matplotlib as pl
from shapely.geometry import Point
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [60]:
stations = pd.read_csv('../data/external/citibike_data/citi_bike_station_info.csv')
geometry = gp.GeoSeries([Point(xy) for xy in zip(stations.Longitude, stations.Latitude)])
geo_stations = gp.GeoDataFrame(stations, geometry=geometry)
geo_stations.crs = {'init' :'epsg:4326'}
geo_stations.drop(['Location', 'Latitude', 'Longitude'], axis = 1, inplace = True)
geo_stations.rename(columns={'Station_id' : 'station_id'}, inplace=True)
geo_stations.head()

   station_id                   Station_Name                          geometry
0          72               W 52 St & 11 Ave  POINT (-73.99392888 40.76727216)
1          79       Franklin St & W Broadway  POINT (-74.00666661 40.71911552)
2          82         St James Pl & Pearl St  POINT (-74.00016545 40.71117416)
3          83  Atlantic Ave & Fort Greene Pl  POINT (-73.97632328 40.68382604)
4         116                W 17 St & 8 Ave  POINT (-74.00149746 40.74177603)

In [61]:
master = pd.read_csv('../data/processed/master.csv')
master.head()

,station_id,ridership_0115,ridership_0215,ridership_0315,ridership_0415,ridership_0515,ridership_0615,ridership_0715,ridership_0815,ridership_0915,...,ridership_1215,avg_ridership_2015,bike_lane_score,park,street_quality_score,subway_entrance,tree_score,traffic_volume,median_hh_income,pop_density
0,72,638.0,480.0,1026.0,1948.0,2943.0,2767.0,3149.0,3504.0,3667.0,...,1648.0,2131.615385,0.0,1.0,8.000000,0.0,17.364799,14870.500000,90174.000000,0.000807
1,79,566.0,335.0,725.0,1728.0,2368.0,2424.0,2626.0,2726.0,3011.0,...,1579.0,1760.538462,3.0,0.0,8.571429,1.0,9.573955,9484.666667,86523.139535,0.000631
2,82,310.0,276.0,406.0,788.0,1068.0,946.0,1193.0,1145.0,1166.0,...,713.0,766.538462,0.0,1.0,7.333333,0.0,35.070325,16812.500000,73988.000000,0.000511
3,83,258.0,162.0,281.0,749.0,1101.0,994.0,1659.0,1724.0,1505.0,...,717.0,863.307692,0.0,0.0,7.500000,0.0,0.000000,41976.000000,85199.000000,0.000231
4,116,1696.0,1193.0,2105.0,1933.0,2281.0,4800.0,5674.0,6175.0,6558.0,...,3686.0,3576.692308,4.0,1.0,8.500000,0.0,47.824344,15948.000000,104974.000000,0.000742

In [62]:
master.columns

Index([u'station_id', u'ridership_0115', u'ridership_0215', u'ridership_0315',
       u'ridership_0415', u'ridership_0515', u'ridership_0615',
       u'ridership_0715', u'ridership_0815', u'ridership_0915',
       u'ridership_1015', u'ridership_1115', u'ridership_1215',
       u'avg_ridership_2015', u'bike_lane_score', u'park',
       u'street_quality_score', u'subway_entrance', u'tree_score',
       u'traffic_volume', u'median_hh_income', u'pop_density'],
      dtype='object')

In [63]:
ridership = master.copy()
ridership.drop([u'bike_lane_score', u'park',
       u'street_quality_score', u'subway_entrance', u'tree_score',
       u'traffic_volume', u'median_hh_income', u'pop_density'], axis = 1, inplace = True)
ridership.head()

,station_id,ridership_0115,ridership_0215,ridership_0315,ridership_0415,ridership_0515,ridership_0615,ridership_0715,ridership_0815,ridership_0915,ridership_1015,ridership_1115,ridership_1215,avg_ridership_2015
0,72,638.0,480.0,1026.0,1948.0,2943.0,2767.0,3149.0,3504.0,3667.0,3546.0,2323.0,1648.0,2131.615385
1,79,566.0,335.0,725.0,1728.0,2368.0,2424.0,2626.0,2726.0,3011.0,2646.0,2074.0,1579.0,1760.538462
2,82,310.0,276.0,406.0,788.0,1068.0,946.0,1193.0,1145.0,1166.0,1053.0,819.0,713.0,766.538462
3,83,258.0,162.0,281.0,749.0,1101.0,994.0,1659.0,1724.0,1505.0,1104.0,886.0,717.0,863.307692
4,116,1696.0,1193.0,2105.0,1933.0,2281.0,4800.0,5674.0,6175.0,6558.0,5825.0,4455.0,3686.0,3576.692308

In [64]:
ridership = pd.merge(ridership, geo_stations, on = 'station_id', how = 'inner')
ridership.head()

,station_id,ridership_0115,ridership_0215,ridership_0315,ridership_0415,ridership_0515,ridership_0615,ridership_0715,ridership_0815,ridership_0915,ridership_1015,ridership_1115,ridership_1215,avg_ridership_2015,Station_Name,geometry
0,72,638.0,480.0,1026.0,1948.0,2943.0,2767.0,3149.0,3504.0,3667.0,3546.0,2323.0,1648.0,2131.615385,W 52 St & 11 Ave,POINT (-73.99392888 40.76727216)
1,79,566.0,335.0,725.0,1728.0,2368.0,2424.0,2626.0,2726.0,3011.0,2646.0,2074.0,1579.0,1760.538462,Franklin St & W Broadway,POINT (-74.00666661 40.71911552)
2,82,310.0,276.0,406.0,788.0,1068.0,946.0,1193.0,1145.0,1166.0,1053.0,819.0,713.0,766.538462,St James Pl & Pearl St,POINT (-74.00016545 40.71117416)
3,83,258.0,162.0,281.0,749.0,1101.0,994.0,1659.0,1724.0,1505.0,1104.0,886.0,717.0,863.307692,Atlantic Ave & Fort Greene Pl,POINT (-73.97632328 40.68382604)
4,116,1696.0,1193.0,2105.0,1933.0,2281.0,4800.0,5674.0,6175.0,6558.0,5825.0,4455.0,3686.0,3576.692308,W 17 St & 8 Ave,POINT (-74.00149746 40.74177603)

In [65]:
ridership = gp.GeoDataFrame(ridership)
ridership.to_file('../data/processed/ridership')

In [66]:
regressors = master.copy()
regressors.drop([u'ridership_0115', u'ridership_0215', u'ridership_0315',
       u'ridership_0415', u'ridership_0515', u'ridership_0615',
       u'ridership_0715', u'ridership_0815', u'ridership_0915',
       u'ridership_1015', u'ridership_1115', u'ridership_1215',
       u'avg_ridership_2015'], axis = 1, inplace = True)
regressors.head()

,station_id,bike_lane_score,park,street_quality_score,subway_entrance,tree_score,traffic_volume,median_hh_income,pop_density
0,72,0.0,1.0,8.000000,0.0,17.364799,14870.500000,90174.000000,0.000807
1,79,3.0,0.0,8.571429,1.0,9.573955,9484.666667,86523.139535,0.000631
2,82,0.0,1.0,7.333333,0.0,35.070325,16812.500000,73988.000000,0.000511
3,83,0.0,0.0,7.500000,0.0,0.000000,41976.000000,85199.000000,0.000231
4,116,4.0,1.0,8.500000,0.0,47.824344,15948.000000,104974.000000,0.000742

In [67]:
regressors = pd.merge(regressors, geo_stations, on = 'station_id', how = 'inner')
regressors.head()

,station_id,bike_lane_score,park,street_quality_score,subway_entrance,tree_score,traffic_volume,median_hh_income,pop_density,Station_Name,geometry
0,72,0.0,1.0,8.000000,0.0,17.364799,14870.500000,90174.000000,0.000807,W 52 St & 11 Ave,POINT (-73.99392888 40.76727216)
1,79,3.0,0.0,8.571429,1.0,9.573955,9484.666667,86523.139535,0.000631,Franklin St & W Broadway,POINT (-74.00666661 40.71911552)
2,82,0.0,1.0,7.333333,0.0,35.070325,16812.500000,73988.000000,0.000511,St James Pl & Pearl St,POINT (-74.00016545 40.71117416)
3,83,0.0,0.0,7.500000,0.0,0.000000,41976.000000,85199.000000,0.000231,Atlantic Ave & Fort Greene Pl,POINT (-73.97632328 40.68382604)
4,116,4.0,1.0,8.500000,0.0,47.824344,15948.000000,104974.000000,0.000742,W 17 St & 8 Ave,POINT (-74.00149746 40.74177603)

In [68]:
regressors = gp.GeoDataFrame(ridership)
regressors.to_file('../data/processed/regressors')

In [69]:
master_shape = pd.merge(master, geo_stations, on = 'station_id', how = 'inner')
master_shape = gp.GeoDataFrame(master_shape)
master_shape.head()

,station_id,ridership_0115,ridership_0215,ridership_0315,ridership_0415,ridership_0515,ridership_0615,ridership_0715,ridership_0815,ridership_0915,...,bike_lane_score,park,street_quality_score,subway_entrance,tree_score,traffic_volume,median_hh_income,pop_density,Station_Name,geometry
0,72,638.0,480.0,1026.0,1948.0,2943.0,2767.0,3149.0,3504.0,3667.0,...,0.0,1.0,8.000000,0.0,17.364799,14870.500000,90174.000000,0.000807,W 52 St & 11 Ave,POINT (-73.99392888 40.76727216)
1,79,566.0,335.0,725.0,1728.0,2368.0,2424.0,2626.0,2726.0,3011.0,...,3.0,0.0,8.571429,1.0,9.573955,9484.666667,86523.139535,0.000631,Franklin St & W Broadway,POINT (-74.00666661 40.71911552)
2,82,310.0,276.0,406.0,788.0,1068.0,946.0,1193.0,1145.0,1166.0,...,0.0,1.0,7.333333,0.0,35.070325,16812.500000,73988.000000,0.000511,St James Pl & Pearl St,POINT (-74.00016545 40.71117416)
3,83,258.0,162.0,281.0,749.0,1101.0,994.0,1659.0,1724.0,1505.0,...,0.0,0.0,7.500000,0.0,0.000000,41976.000000,85199.000000,0.000231,Atlantic Ave & Fort Greene Pl,POINT (-73.97632328 40.68382604)
4,116,1696.0,1193.0,2105.0,1933.0,2281.0,4800.0,5674.0,6175.0,6558.0,...,4.0,1.0,8.500000,0.0,47.824344,15948.000000,104974.000000,0.000742,W 17 St & 8 Ave,POINT (-74.00149746 40.74177603)

In [70]:
master_shape.to_file('../data/processed/master_shape')